#menus_menu {
	color:#ffffff;
	background-color:#292929;
}
li {
	max-height:65px;
}
.sidebar_menu_selected {
	background-color:#333333;
	color:#ffffff;
}
.sidebar_menu_selected:hover {
	background-color:#333333;
	color:#ffffff;
}
.fill_container_sidebar {
	padding:0px;
	float:left;
	z-index:8;
	width:100%;
	margin-top:-2px;
}
.table_row {
	padding-bottom:0px;
	padding-top:0px;
}
.table_field {
	padding-top:9px;
}
.admin_tab_group {
	z-index:11;
	position:relative;
	min-width:600px;
}
.admin_table {
	margin-left:0px;
	margin-right:0px;
	min-width:600px;
}
#admin_header {
	min-width:1024px;
}
.admin_header_row {
	min-width:600px;
}
#footer_bar {
	min-width:1024px;
}
.admin_panel {
	min-width:600px;
	background-color:#fafafa;
	border-top:0px;
}
#button_panel_menu_right {
	margin-right:10px;
}
/*273*/
#page_title_bar_fill {
	min-width:960px;
}
.main_body {
	min-width:960px;
}
.admin_panel {
	max-height:41px;
	clear:both;
}
.table_row {
	min-height:74px;
	background-color:#fafafa;
}
#row_search {
	min-height:30px;
}
li {
	max-height:75px;
}
/*check 50, every field+20*/
#img_src_header, .img_src_field {
	width:73px;
}
.type_image {
	width:73px;
	height:55px;
}
.img_src_field {
	height:65px;
}
#img_src_search_row {
	height:30px;
}
#type_price_header, .type_price_field {
	width:120px;
}
#product_name_header, .product_name_field {
	margin-left:93px;
}
